beautifulsoup4 # Enable WebBaseLoader
langchain
langchain-community
langchain_experimental
langchain-ollama
langchain-openai
langchain-postgres
langchain-text-splitters
langgraph
psycopg[binary]
pypdf # Enable pdf loader